*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f4f6fa;
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

/* Sidebar */

.sidebar{
    width:260px;
    background:#1f2937;
    color:white;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar h3{
    margin:30px 0 15px;
    color:#cbd5e1;
    font-size:15px;
}

.team-list{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.team{
    border:none;
    background:transparent;
    color:white;
    text-align:left;
    padding:12px 15px;
    border-radius:10px;
    cursor:pointer;
    transition:.2s;
    font-size:15px;
}

.team.button {
    border: 1px solid white;
}

.team:hover{
    background:#374151;
}

.team.active{
    background:#2563eb;
}

/* Hauptbereich */

.content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Header */

header{
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    border-bottom:1px solid #ddd;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav{
    color:#777;
}

/* Main */

main{
    padding:40px;
    overflow:auto;
}

main h1{
    margin-bottom:30px;
}

/* Boards */

.boards{

    display:grid;

    grid-template-columns:
        repeat(auto-fill,minmax(250px,1fr));

    gap:25px;

}

.board{

    background:white;

    border-radius:15px;

    padding:25px;

    min-height:170px;

    box-shadow:
        0 8px 20px rgba(0,0,0,.08);

    transition:.2s;

    cursor:pointer;

}

.board:hover{

    transform:translateY(-5px);

    box-shadow:
        0 12px 30px rgba(0,0,0,.12);

}

.board h2{

    margin-bottom:15px;

}

.board p{

    color:#666;

}

/* Neues Board */

.add-board{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:#888;

    border:2px dashed #bbb;

    background:#fafafa;

}

.add-board span{

    font-size:40px;

    margin-bottom:10px;

}

.add-board:hover{

    background:#eef3ff;

    border-color:#2563eb;

    color:#2563eb;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;           
}

.board-creation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow:
        0 8px 20px rgba(0,0,0,.08);
    z-index: 1000;
}

.board-creation .hidden {
    display: none !important;
}

.hidden {
    display: none !important;
}

.board-creation h2{

}

.board-creation input{
    width: 250px;
    height: 35px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    margin: 20px 0;
    padding: 14px;
}

.board-creation input:focus {
    outline: black;
}

.board-creation button{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #2563eb;
    color: white;
}

.board-creation button:hover {
    background-color: #1f54c7;
}

.board-creation button:active {
    scale: 0.98;
}

/* Responsive */

@media(max-width:850px){

    .sidebar{

        width:80px;

        padding:20px 10px;

    }

    .sidebar h2,
    .sidebar h3{

        display:none;

    }

    .team{

        text-align:center;

        padding:15px;

    }

    header{

        padding:0 20px;

    }

    main{

        padding:20px;

    }

}