<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskManager - Login</title>
    <link rel="stylesheet" href="/css/login.css">

    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>

<div class="login-container">

    <div class="login-card">

        <h1>TaskManager</h1>
        <p class="subtitle">Melde dich an, um deine Boards zu verwalten.</p>

        <form action="/login/check" method="post">

            <div class="input-group">
                <label>E-Mail</label>
                <input
                    name="username"
                    type="text"
                    placeholder="username"
                    required>
            </div>

            <div class="input-group">
                <label>Passwort</label>
                <input
                    name="password"
                    type="password"
                    placeholder="••••••••"
                    required>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox" name="remember-me">
                    Angemeldet bleiben
                </label>

                <a href="#">Passwort vergessen?</a>
            </div>

            <button type="submit">
                Anmelden
            </button>

        </form>

    </div>

</div>

</body>
</html>