<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aufgaben Manager</title>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>

<div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">

        <h2>TaskManager</h2>

        <button id="private" class="team active">
            🏠 Privat
        </button>

        <h3>Teams</h3>

        <div class="team-list">
            
        </div>
        <div id="new-team-button" class="team button">+ Neues Team</div>
    </aside>
    

    <!-- Hauptbereich -->
    <div class="content">

        <header>

            <div class="logo">
                Entwickler
            </div>

            <nav>
                <!-- Hier später Navigation -->
                <span>Navigation Platzhalter</span>
            </nav>

        </header>

        <main>
            <div id="modal-overlay" class="overlay hidden">
                <div id="board-creation-card" class="board-creation">
                    <h2 id="card-header">Neues Board</h2>
                    <input type="text" name="board-name-input" placeholder="Name">

                    <button id="board-creation-button" type="button">Erstellen</button>
                </div>
            </div>

            <h1>Boards</h1>

            <section id="board-list" class="boards">

                <div id="create-board-button" class="board add-board">
                    <span>＋</span>
                    <p>Neues Board</p>
                </div>

            </section>

        </main>

    </div>

</div>

<script src="/js/mainRefac.js" type="module" defer></script>
</body>
</html>